.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists-container {
  width: 660px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
}
